# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle


# ------ POD -------

ios/Pods
ios/Podfile.lock
android/.idea/caches/gradle_models.ser
android/.idea/libraries/Gradle__android_arch_core_runtime_1_1_0_aar.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0_aar.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0_aar.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_customtabs_27_1_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_multidex_1_0_2_aar.xml
android/.idea/libraries/Gradle__com_android_support_multidex_instrumentation_1_0_2_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_compat_27_1_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_media_compat_26_1_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_media_compat_27_1_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_v4_26_1_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_v4_27_1_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1_aar.xml
android/.idea/libraries/Gradle__com_crashlytics_sdk_android_answers_1_4_2_aar.xml
android/.idea/libraries/Gradle__com_crashlytics_sdk_android_answers_1_4_3_aar.xml
android/.idea/libraries/Gradle__com_crashlytics_sdk_android_beta_1_2_10_aar.xml
android/.idea/libraries/Gradle__com_crashlytics_sdk_android_beta_1_2_9_aar.xml
android/.idea/libraries/Gradle__com_crashlytics_sdk_android_crashlytics_2_9_4_aar.xml
android/.idea/libraries/Gradle__com_crashlytics_sdk_android_crashlytics_2_9_5_aar.xml
android/.idea/libraries/Gradle__com_crashlytics_sdk_android_crashlytics_core_2_6_3_aar.xml
android/.idea/libraries/Gradle__com_crashlytics_sdk_android_crashlytics_core_2_6_4_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_drawee_1_10_0_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_fbcore_1_10_0_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_fresco_1_10_0_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_1_10_0_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_base_1_10_0_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_okhttp3_1_10_0_aar.xml
android/.idea/libraries/Gradle__com_facebook_react_react_native_0_57_5_aar.xml
android/.idea/libraries/Gradle__com_facebook_shimmer_shimmer_0_1_0_aar.xml
android/.idea/libraries/Gradle__com_facebook_soloader_soloader_0_5_1_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_ads_15_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_ads_base_15_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_ads_identifier_16_0_0_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_ads_lite_15_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_appinvite_16_0_7_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_base_16_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_16_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_16_1_0_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_clearcut_16_0_0_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_flags_16_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_gass_15_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_gcm_16_1_0_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_iid_16_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_api_16_0_4_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_base_16_0_5_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_phenotype_16_0_0_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_stats_16_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_16_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_abt_16_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_ads_15_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_16_0_6_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_impl_16_2_4_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_auth_16_1_0_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_auth_interop_16_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_common_16_0_3_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_common_16_0_4_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_config_16_1_2_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_core_16_0_6_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_database_16_0_5_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_database_collection_16_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_dynamic_links_16_1_5_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_17_1_5_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_functions_16_1_3_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_iid_17_0_4_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_iid_interop_16_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_invites_16_0_6_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_17_0_1_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_impl_17_0_4_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_messaging_17_3_4_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_perf_16_2_3_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_storage_16_0_5_aar.xml
android/.idea/libraries/Gradle__com_google_firebase_protolite_well_known_types_16_0_1_aar.xml
android/.idea/libraries/Gradle__io_fabric_sdk_android_fabric_1_4_3_aar.xml
android/.idea/libraries/Gradle__io_fabric_sdk_android_fabric_1_4_4_aar.xml
android/.idea/libraries/Gradle__io_grpc_grpc_android_1_16_1_aar.xml
android/.idea/libraries/Gradle__me_leolin_ShortcutBadger_1_1_21_aar.xml
android/.idea/libraries/Gradle__org_webkit_android_jsc_r174650_aar.xml
android/.gradle/4.6/fileHashes/fileHashes.bin
android/.gradle/4.6/fileHashes/fileHashes.lock